body {
    background-color: rgb(233, 216, 161);
}

table {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    word-wrap: break-word;
}

thead {
    font-weight: bold;
}